src/view/__history/DisparadorWZP.Principal.dfm.~1~
src/view/__history/DisparadorWZP.Principal.dfm.~2~
src/view/__history/DisparadorWZP.Principal.dfm.~3~
src/view/__history/DisparadorWZP.Principal.dfm.~4~
src/view/__history/DisparadorWZP.Principal.dfm.~5~
src/view/__history/DisparadorWZP.Principal.dfm.~6~
src/view/__history/DisparadorWZP.Principal.dfm.~7~
src/view/__history/DisparadorWZP.Principal.dfm.~8~
src/view/__history/DisparadorWZP.Principal.pas.~10~
src/view/__history/DisparadorWZP.Principal.pas.~11~
src/view/__history/DisparadorWZP.Principal.pas.~12~
src/view/__history/DisparadorWZP.Principal.pas.~3~
src/view/__history/DisparadorWZP.Principal.pas.~4~
src/view/__history/DisparadorWZP.Principal.pas.~5~
src/view/__history/DisparadorWZP.Principal.pas.~6~
src/view/__history/DisparadorWZP.Principal.pas.~7~
src/view/__history/DisparadorWZP.Principal.pas.~8~
src/view/__history/DisparadorWZP.Principal.pas.~9~
src/utils/__history/Status.Mensagem.pas.~1~
src/utils/__history/Status.Mensagem.pas.~2~
src/utils/__history/Status.Mensagem.pas.~3~
src/utils/__history/Status.Mensagem.pas.~4~
src/utils/__history/Status.Mensagem.pas.~5~
src/utils/__history/Status.Mensagem.pas.~6~
src/utils/__history/Status.Mensagem.pas.~7~
src/utils/__history/Status.Mensagem.pas.~8~
src/utils/__history/Variaveis.Server.pas.~1~
src/utils/__history/Variaveis.Server.pas.~2~
src/utils/__history/Variaveis.Server.pas.~3~
src/projetos/__history/DisparadorWZP.dpr.~10~
src/projetos/__history/DisparadorWZP.dpr.~11~
src/projetos/__history/DisparadorWZP.dpr.~12~
src/projetos/__history/DisparadorWZP.dpr.~13~
src/projetos/__history/DisparadorWZP.dpr.~14~
src/projetos/__history/DisparadorWZP.dpr.~15~
src/projetos/__history/DisparadorWZP.dpr.~6~
src/projetos/__history/DisparadorWZP.dpr.~7~
src/projetos/__history/DisparadorWZP.dpr.~8~
src/projetos/__history/DisparadorWZP.dpr.~9~
src/projetos/__history/WZPSendServer.dpr.~10~
src/projetos/__history/WZPSendServer.dpr.~11~
src/projetos/__history/WZPSendServer.dpr.~12~
src/projetos/__history/WZPSendServer.dpr.~3~
src/projetos/__history/WZPSendServer.dpr.~4~
src/projetos/__history/WZPSendServer.dpr.~5~
src/projetos/__history/WZPSendServer.dpr.~6~
src/projetos/__history/WZPSendServer.dpr.~7~
src/projetos/__history/WZPSendServer.dpr.~8~
src/projetos/__history/WZPSendServer.dpr.~9~
src/projetos/registros/Registros.WZPSendServer.pas
src/projetos/registros/__history/Registros.WZPSendServer.pas.~22~
src/projetos/registros/__history/Registros.WZPSendServer.pas.~23~
src/projetos/registros/__history/Registros.WZPSendServer.pas.~24~
src/projetos/registros/__history/Registros.WZPSendServer.pas.~25~
src/projetos/registros/__history/Registros.WZPSendServer.pas.~26~
src/projetos/registros/__history/Registros.WZPSendServer.pas.~27~
src/projetos/registros/__history/Registros.WZPSendServer.pas.~28~
src/projetos/registros/__history/Registros.WZPSendServer.pas.~29~
src/projetos/registros/__history/Registros.WZPSendServer.pas.~30~
src/projetos/registros/__history/Registros.WZPSendServer.pas.~31~
src/projetos/Win32/Debug/Controller.Mensagens.dcu
src/projetos/Win32/Debug/DataModule.Global.dcu
src/projetos/Win32/Debug/Horse.Callback.dcu
src/projetos/Win32/Debug/Horse.Commons.dcu
src/projetos/Win32/Debug/Horse.Constants.dcu
src/projetos/Win32/Debug/Horse.Core.dcu
src/projetos/Win32/Debug/Horse.Core.Files.dcu
src/projetos/Win32/Debug/Horse.Core.Group.Contract.dcu
src/projetos/Win32/Debug/Horse.Core.Group.dcu
src/projetos/Win32/Debug/Horse.Core.Param.Config.dcu
src/projetos/Win32/Debug/Horse.Core.Param.dcu
src/projetos/Win32/Debug/Horse.Core.Param.Field.Brackets.dcu
src/projetos/Win32/Debug/Horse.Core.Param.Field.dcu
src/projetos/Win32/Debug/Horse.Core.Param.Header.dcu
src/projetos/Win32/Debug/Horse.Core.Route.Contract.dcu
src/projetos/Win32/Debug/Horse.Core.Route.dcu
src/projetos/Win32/Debug/Horse.Core.RouterTree.dcu
src/projetos/Win32/Debug/Horse.Core.RouterTree.NextCaller.dcu
src/projetos/Win32/Debug/Horse.CORS.dcu
src/projetos/Win32/Debug/Horse.dcu
src/projetos/Win32/Debug/Horse.Exception.dcu
src/projetos/Win32/Debug/Horse.Exception.Interrupted.dcu
src/projetos/Win32/Debug/Horse.Jhonson.dcu
src/projetos/Win32/Debug/Horse.Mime.dcu
src/projetos/Win32/Debug/Horse.OctetStream.Config.dcu
src/projetos/Win32/Debug/Horse.OctetStream.dcu
src/projetos/Win32/Debug/Horse.Proc.dcu
src/projetos/Win32/Debug/Horse.Provider.Abstract.dcu
src/projetos/Win32/Debug/Horse.Provider.Apache.dcu
src/projetos/Win32/Debug/Horse.Provider.CGI.dcu
src/projetos/Win32/Debug/Horse.Provider.Console.dcu
src/projetos/Win32/Debug/Horse.Provider.Daemon.dcu
src/projetos/Win32/Debug/Horse.Provider.IOHandleSSL.Contract.dcu
src/projetos/Win32/Debug/Horse.Provider.IOHandleSSL.dcu
src/projetos/Win32/Debug/Horse.Provider.ISAPI.dcu
src/projetos/Win32/Debug/Horse.Provider.VCL.dcu
src/projetos/Win32/Debug/Horse.Request.dcu
src/projetos/Win32/Debug/Horse.Response.dcu
src/projetos/Win32/Debug/Horse.Rtti.dcu
src/projetos/Win32/Debug/Horse.Rtti.Helper.dcu
src/projetos/Win32/Debug/Horse.Session.dcu
src/projetos/Win32/Debug/Horse.WebModule.dcu
src/projetos/Win32/Debug/Registros.WZPSendServer.dcu
src/projetos/Win32/Debug/Status.Mensagem.dcu
src/projetos/Win32/Debug/Variaveis.Server.dcu
src/projetos/Win32/Debug/Web.WebConst.dcu
src/projetos/DisparadorWZP.dproj.local
src/projetos/DisparadorWZP.identcache
src/projetos/WZPSendServer.identcache
src/projetos/WZPSendServer.res
src/datamodules/__history/DataModule.Global.dfm.~1~
src/datamodules/__history/DataModule.Global.dfm.~10~
src/datamodules/__history/DataModule.Global.dfm.~2~
src/datamodules/__history/DataModule.Global.dfm.~3~
src/datamodules/__history/DataModule.Global.dfm.~4~
src/datamodules/__history/DataModule.Global.dfm.~5~
src/datamodules/__history/DataModule.Global.dfm.~6~
src/datamodules/__history/DataModule.Global.dfm.~7~
src/datamodules/__history/DataModule.Global.dfm.~8~
src/datamodules/__history/DataModule.Global.dfm.~9~
src/datamodules/__history/DataModule.Global.pas.~29~
src/datamodules/__history/DataModule.Global.pas.~30~
src/datamodules/__history/DataModule.Global.pas.~31~
src/datamodules/__history/DataModule.Global.pas.~32~
src/datamodules/__history/DataModule.Global.pas.~33~
src/datamodules/__history/DataModule.Global.pas.~34~
src/datamodules/__history/DataModule.Global.pas.~35~
src/datamodules/__history/DataModule.Global.pas.~36~
src/datamodules/__history/DataModule.Global.pas.~37~
src/datamodules/__history/DataModule.Global.pas.~38~
src/controllers/__history/Controller.Mensagens.pas.~26~
src/controllers/__history/Controller.Mensagens.pas.~27~
src/controllers/__history/Controller.Mensagens.pas.~28~
src/controllers/__history/Controller.Mensagens.pas.~29~
src/controllers/__history/Controller.Mensagens.pas.~30~
src/controllers/__history/Controller.Mensagens.pas.~31~
src/controllers/__history/Controller.Mensagens.pas.~32~
src/controllers/__history/Controller.Mensagens.pas.~33~
src/controllers/__history/Controller.Mensagens.pas.~34~
src/controllers/__history/Controller.Mensagens.pas.~35~
